name: CI Release

on:
  push:
    branches:
      - rust
    tags:
      - "v*.*.*"
  pull_request:

jobs:

  test:
    name: Test
    if: startsWith(github.ref, 'refs/tags/')
    strategy:
      matrix:
        os: [ubuntu-18.04, macOS-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Env Variable Setup
        if: matrix.os == 'windows-latest'
        run: |
          echo "LIBCLANG_PATH=C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\VC\Tools\Llvm\x64\bin" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append
      - name: Git Checkout
        uses: actions/checkout@v2
      - name: Rust Toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true
      - name: Cargo Build
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --verbose
      - name: Cargo Test
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --verbose

  release:
    name: Release
    needs: [test]
    if: startsWith(github.ref, 'refs/tags/')
    strategy:
      matrix:
        include:
          - os: ubuntu-18.04
            variant: linux
            bin: qldb
          - os: windows-latest
            variant: windows
            bin: qldb.exe
          - os: macos-latest
            variant: mac
            bin: qldb
    runs-on: ${{ matrix.os }}
    steps:
      - name: Env Variable Setup
        if: matrix.os == 'windows-latest'
        run: |
          echo "LIBCLANG_PATH=C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\VC\Tools\Llvm\x64\bin" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append
      - name: Install stable toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true
      - name: Install ubuntu tools
        if: matrix.os == 'ubuntu-18.04'
        run: |
          sudo apt-get install -y musl-tools pkg-config libssl-dev

      - name: Checkout
        uses: actions/checkout@v2
      - name: Package
        shell: bash
        if: matrix.os == 'ubuntu-18.04' ||  matrix.os == 'macos-latest' 
        run: |
          name=qldb
          tag=$(git describe --tags --abbrev=0)
          release_name="$name-$tag-${{ matrix.variant }}"
          release_tar="${release_name}.tar.gz"
          mkdir "$release_name"

          cargo fetch && cargo build --release

          if [ "${{ matrix.os }}" != "windows-latest" ]; then
              strip "target/${{ matrix.target }}/release/${{ matrix.bin }}"
          fi
          cp "target/release/${{ matrix.bin }}" "$release_name/"
          cp README.md LICENSE CHANGELOG.md "$release_name/"
          tar czvf "$release_tar" "$release_name"
          rm -r "$release_name"         
          echo -n "$(shasum -ba 256 "${release_tar}" | cut -d " " -f 1)" > "${release_tar}.sha256"
          git tag -l -n --format="%(contents:subject)" $(git describe --tags --abbrev=0) > TAG-COMMENT.txt

      - name: MSI
        shell: powershell
        if: matrix.os == 'windows-latest'
        run: |        
          $name='qldb'
          $tag=git describe --tags --abbrev=0
          $release_name="$name-$tag"
          
          cargo fetch 
          cargo build --release            
          #strip "target/${{ matrix.target }}/release/${{ matrix.bin }}"
          
          # Install cargo-wix to compile main.wxs
          cargo install cargo-wix
          
          # read the shell version from the cargo.toml file
          $version = Get-Content .\Cargo.toml | Select-String -Pattern '^version\s*=\s*\"\d*\.\d*\.\d*'
          
          # convert $version to semantic version (removing characters at the end)
          $semantic = 'semantic' + $version.Matches[0].Value + '"'
          
          # write the semantic version in the wix variable file
          Set-Content -Path ./wixvariables.wxi '<?xml version="1.0" encoding="utf-8"?> <Include>   <?define ' + $semantic + ' ?> </Include>'
          
          # Create MSI based on target/wix/main.wxs
          cargo wix --nocapture
          
          cd target/wix
          mv amazon_qldb_shell*.msi ../../$release_name.msi
        
      - name: Publish
        uses: softprops/action-gh-release@v1
        with:
          draft: true
          prerelease: true
          files: "qldb*"
          body_path: TAG-COMMENT.txt

        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
